/*
* This configuration file is the default one used by the pipeline
*/

process {
    // indicates the default container to be used if not defined within the modules
    container = 'biocorecrg/c4lwg-2018:latest'

    // custom container options in case you use docker for mapping the users and avoid docker writing files as root
    containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
}

// define different profiles
profiles {
    standard {
   	    includeConfig 'conf/standard.config'
    }
    docker {
        docker.enabled = true
        docker.fixOwnership = true
        includeConfig 'conf/awsbatch.config'
    }
}
